<div id="sign-in-page">
  <img src="<%= image_url("starting.png")%>" id="image">
  <div id="sign-up-box">
    <img src="<%= image_url("logo_design_3397.jpg")%>" id="sign-in-page-quora-image" >
    <div>A place to share knowledge and better understand the world</div>
    <div id="sign-in-box-inner">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  <br>

  
    <%= f.label :password %>
    <% if @minimum_password_length %>
    
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  <br>

  
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  <br>

  
    <%= f.submit "Sign up" %>
  
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>

